@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --powder-blue:#CAF0F8;
    --blizzard-blue:#ADE8F4;
    --sky-blue:#90E0EF;
    --dark-sky-blue:#48CAE4;
    --cerulean-blue:#00B4D8;
    --blue-green:#0096C7;
    --command-blue:#0077B6;
    --cornflower-blue:#023E8A;
    --navy-blue:#03045E;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
nav{
    /* padding: 1rem; */
    background: #FFF;
    box-shadow: 0 2px 2px 0px #F1F1F1;
}
header nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr; */
}
header nav .logo-container{
    width: 240px;
}
header nav .logo-container img{
    width: 100%;
    padding: 10px;
}
header nav .menu-container .menu-container__list{
    padding: 0;
    list-style: none;
    color: #00aeef;
    font-size: 16px;
    margin:0;
    display: flex;
    text-transform: uppercase;
    white-space: pre;
}
header nav .menu-container .menu-container__list .menu-container__list__item{
    /* margin-right: 2rem; */
    font-family: 'Lato',sans-serif;
    font-weight: normal;
    /* margin-top: 7px; */
    /* background: #FC3; */
    padding: 13px;
    transition: all .3s linear;
}
header nav .menu-container .menu-container__list .menu-container__list__item__sub-list{
    padding: 0;
    list-style: none;
    display: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    width: 120%;
    padding-left: 0;
    background: #FFF;
}
header nav .menu-container .menu-container__list .menu-container__list__item.parent:hover .menu-container__list__item__sub-list{
    display: block;
} 
header nav .menu-container .menu-container__list .menu-container__list__item.parent:hover .menu-container__list__item__sub-list .menu-container__list__item__sub-list__item{
    color: #00aeef;
}
.menu-container__list__item__sub-list__item:hover{
    background: #F9F9F9;
}
header nav .menu-container .menu-container__list .menu-container__list__item__sub-list .menu-container__list__item__sub-list__item{
    margin: 0;
    padding: 10px 10px;
    /* padding-left: 10px;
    padding-right: 10px; */
}
header nav .menu-container .menu-container__list .menu-container__list__item.parent{
    position: relative;
}
header nav .menu-container .menu-container__list .menu-container__list__item__sub-list.child{
    position: absolute;
    top: 100%;
    left: 0;
}
/* header nav .menu-container .menu-container__list .menu-container__list__item .menu-container__list__item__sub-list{
    display: none;
    padding: 0;
} */

header nav .menu-container .menu-container__list .menu-container__list__item:hover{
    background: #00aeef;
    color: #FFF;
    cursor:pointer
}
header nav .social-items-container{
    padding: 0 1rem;
}
header nav .social-items-container .social-items-container__social-list{
    list-style: none;
    display: flex;
    margin: 0;
    text-align: right;
    justify-content: flex-end;
    padding-left: 0;
}
header nav .social-items-container .social-items-container__social-list li{
    margin-right: 2rem;
    padding-top: 4px;
}
header nav .social-items-container .social-items-container__social-list li a{
    text-decoration: none;
    font-size: 18px;
    color:#00aeef;
    margin-top: 10px;
    /* border: solid 1px #00aeef; */
}
header nav .social-items-container .social-items-container__social-list li a.btn-blue{
    background: transparent;
    border-radius: 6px;
    padding: 5px 10px;
    margin-left: -4px;
    padding-top: 4px;
    font-family: 'Lato',sans-serif;
    padding-bottom: 9px;
    transition: all .4s linear;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #00aeef;
    color: #FFF; 
    border: solid 1px #00aeef;
}
header nav .social-items-container .social-items-container__social-list input{
    border-radius: 6px;
    color: #00aeef;
    border: solid 1px #00aeef;
    padding: 10px;
    margin-top: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
::placeholder{
    color: #00aeef;
}
header nav .social-items-container .social-items-container__social-list input:active,
header nav .social-items-container .social-items-container__social-list input:focus{
    outline: none;
}
header nav .mobile-nav-container{
    display: none;
}
header nav .mobile-nav-container i{
    color: #00aeef;
    margin-top: 8px;
}
header nav .mobile-nav-container:hover{
    cursor: pointer;
}
.mobile-nav-modal{
    color: #00aeef;
}
.mobile-nav-container__list{
    /* width: 0;
    height: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 80px;
}
.mobile-nav-container__list__item{
    /* opacity: 0; */
    padding: 1rem;
    font-size: 20px;
    font-family: 'Lato',sans-serif;
}
.mobile-nav-modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: rgba(255,255,255,.9);
    transform: scale(1.2);
    visibility: hidden;
    transition: all .4s ease-in-out;
}
.back-btn{
    padding: 10px 20px;
    border: solid 1px #00aeef;
    border-radius: 6px;
    margin-top: 5rem;
    text-decoration: none;
    color: #00aeef;
    /* transition: all .2s linear; */
    font-family: 'Lato',sans-serif;
}
.back-btn:hover{
    background: #00aeef;
    color: #FFF;
}
.visible{
    visibility: visible;
    transform: scale(1);
} 
@media (max-width:985px){
    header nav .social-items-container{
        display: none;
    }
}
@media(max-width:656px){
    header nav .menu-container{
        display: none;
    }
    header nav .mobile-nav-container{
        display: block;
    }
}
@media(min-width:657px){
    .mobile-nav-modal{
        display: none;
    }
}
/*******************************************
        CATEGORY BUTTONS SECTION
*******************************************/

.category-sports{
    padding: .5rem;
    color: #FC3;
    border: solid 1px #FC3;
    border-radius: 6px;
    text-decoration: none;
    position: relative;
    transition: all .4s ease;
    font-family: 'Lato',sans-serif;
    /* background: #FFF; */
    z-index: 1;
}
.category-sports:hover{
    color: #FFF;
}
.category-sports::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #FC3;
    transition: all .4s ease;
    z-index: -1;
    text-align: center;
}
.category-sports:hover::before{
    width: 100%;
}
.category-politics{
    padding: .5rem;
    color: var(--navy-blue);
    border: solid 1px var(--navy-blue);
    border-radius: 6px;
    text-decoration: none;
    position: relative;
    transition: all .4s ease;
    font-family: 'Lato',sans-serif;
    /* background: #FFF; */
    z-index: 1;
}
.category-politics:hover{
    color: #FFF;
}
.category-politics::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--navy-blue);
    transition: all .4s ease;
    z-index: -1;
    text-align: center;
}
.category-politics:hover::before{
    width: 100%;
}
.category-technology{
    padding: .5rem;
    color: purple;
    border: solid 1px purple;
    border-radius: 6px;
    text-decoration: none;
    position: relative;
    transition: all .4s ease;
    font-family: 'Lato',sans-serif;
    /* background: #FFF; */
    z-index: 1;
}
.category-technology:hover{
    color: #FFF;
}
.category-technology::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: purple;
    transition: all .4s ease;
    z-index: -1;
    text-align: center;
}
.category-technology:hover::before{
    width: 100%;
}
.category-health{
    padding: .5rem;
    color: #5c9320;
    border: solid 1px #5c9320;
    border-radius: 6px;
    text-decoration: none;
    position: relative;
    transition: all .4s ease;
    font-family: 'Lato',sans-serif;
    /* background: #FFF; */
    z-index: 1;
}
.category-health:hover{
    color: #FFF;
}
.category-health::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #5c9320;
    transition: all .4s ease;
    z-index: -1;
    text-align: center;
}
.category-health:hover::before{
    width: 100%;
}
.category-entertainment{
    padding: .5rem;
    color: var(--blue-green);
    border: solid 1px var(--blue-green);
    border-radius: 6px;
    text-decoration: none;
    position: relative;
    transition: all .4s ease;
    font-family: 'Lato',sans-serif;
    /* background: #FFF; */
    z-index: 1;
}
.category-entertainment:hover{
    color: #FFF;
}
.category-entertainment::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--blue-green);
    transition: all .4s ease;
    z-index: -1;
    text-align: center;
}
.category-entertainment:hover::before{
    width: 100%;
}

.btn-fill-effect{
    padding: .5rem;
    color: #00aeef;
    border: solid 1px #00aeef;
    border-radius: 6px;
    text-decoration: none;
    position: relative;
    transition: all .4s ease;
    font-family: 'Lato',sans-serif;
    /* background: #FFF; */
    z-index: 1;
}
.btn-fill-effect:hover{
    color: #FFF;
}
.btn-fill-effect::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #00aeef;
    transition: all .4s ease;
    z-index: -1;
    text-align: center;
}
.btn-fill-effect:hover::before{
    width: 100%;
}

/******************************
        ARTICLE SECTION
******************************/
.container{
    width: 75%;
    padding: 2rem;
    border-right: solid 1px #E0E0E0;
}
.container h1{
    font-family: 'Lato',sans-serif;
    margin: 2rem 0;
    margin-top: 1rem;
    color: var(--blue-green);
    letter-spacing: 1px;
}
.container .headline-image-container{
    width: 90%;
    border-radius: 15px;
}
.headline-image-container img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.container .social-icons-container{
    padding: 1rem;
    padding-left: 0;
    background: #FFF;
    border-radius: 12px;
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin: 2rem 0; */
}
.container .social-icons-container .social-list{
    list-style: none;
}
.container .social-icons-container .social-list .social-list_item{
    display: inline-block;
    padding: .5rem;
    font-size: 20px;
}
.social-list_item .fa-facebook{
    color: #457b9d;
}
.social-list_item .fa-twitter{
    color: #00aeef;
}
.social-list_item .fa-whatsapp{
    color: #59c320;
}
.container .article-details-container{

}
.article-details-container .details-list{
    list-style: none;
}
.article-details-container .details-list .details-list_item{
    display: inline-block;
    font-family: 'Lato',sans-serif;
    padding: 0px .5rem;
    border-right: solid 1px #CCC;
}
a.social-handle{
    color: #457b9d;
}
.container .article-text{
    margin: 1rem 0;
}
.article-text p{
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.2;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
span.red{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
span.barca{
    color: #457b9d;
    text-decoration: underline;
    cursor: pointer;
}
span.dortmund{
    color: #DB2;
    text-decoration: underline;
    cursor: pointer;
}
p a{
    /* color: #457b9d; */
}
@media(min-width:480px){
    .container{
        width: 100%;
    }
}
@media(min-width:985px){
    .container{
        width: 75%;
    }
}
/******************************
        HOME PAGE SECTION
******************************/
#header-showcase{
    background: url(./img/card-images/header-showcase-img.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    padding: 1.5rem;
    position: relative;
}
#header-showcase .header-showcase-container{
    background: rgba(0,0,0,.65);
    width: auto;
    padding: 4rem 2rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.header-showcase-container h2{
    font-family: 'Lato',sans-serif;
    color: #FFF;
    font-weight: 400;
    text-transform: capitalize;
    margin: 2rem 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
    word-spacing: 14px;
    line-height: 1.3;
}
@media(max-width:650px){
    .header-showcase-container h2{
        font-size: 1.5rem;
    }
}
/******************************
        WHATS NEW SECTION
******************************/
#whats-new .whats-new-container{
    background: #F5F5F5;
    padding: 1rem;
}
.whats-new-container h3{
    color: #00acef;
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: regular;
}
.whats-new-container .cards-container{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.cards-container .new-card{
    display: flex;
    width: 47%;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
.new-card:hover{
    cursor: pointer;
    background: #F9F9F9;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.1);
}
.new-card .img-container{
    width: 50%;
}
.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.new-card .text-container{
    padding: 1rem;
    width: 50%;
    padding-top: 1.5rem;
}
.text-container p{
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: 'Cormorant Garamond', serif;
    margin: 1.5rem 0;
    /* padding: 2rem 0; */
}
/******************************
        WHATS RISING SECTION
******************************/
#whats-rising .whats-rising-container{
    background: #FFF;
    padding: 1rem;
}
.whats-rising-container h3{
    color: #00acef;
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: regular;
    padding: 0 1rem;    
}
span.close-btn{
    float: right;
    cursor: pointer;
}
.whats-rising-container .cards-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
}
.cards-container .rising-card{
    width: 30%;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
}
.rising-card .img-container{
    width: 100%;
}
.rising-card .img-container img{
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* box-shadow: 1px 1px 5px 1px rgba(0,0,0,.1); */
}
.rising-card .text-container{
    padding: 1rem;
    margin: 1rem 0;
}
.rising-card:hover{
    cursor: pointer;
    background: #F9F9F9;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.1);
}